@font-face {
    font-family: "Noto Sans";
    src: url("../../assets/fonts/NotoSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../../assets/fonts/NotoSerif-Regular.ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.light {
    background: white;
    color: #222;
}

.dark {
    background: black;
    color: #ccc;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.scroll {
    height: 100px;
    overflow-y: scroll;
    border: 1px solid crimson;
}

header {
    flex: 1 0 auto;
    min-height: 5.3em;
}

main {
    flex: 1 0 auto;
    min-height: 52em;
}

footer {
    flex-shrink: 0;
}

h3 {
    color: #87bd24;
    font-family: 'Noto Serif', sans-serif;
    font-size: 3em;
}

label { display: block; }

button {
    padding: 5px 8px;
    margin-right: 2px;
    border-style: none;
    border-radius: 5px;
}

.top-block {
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
}

.top-block .logo-text {
    color: #068977;
}

.top-block .logo-text span {
    font-weight: bold;
}

.top-block .main-menu {

}

.top-block .right-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.top-block .main-menu ul, .top-block .right-menu ul {
    margin: 0;
    list-style-type: none;
}

.top-block .main-menu ul {
    padding: 0 0 0 20px;
}

.top-block .main-menu ul li, .top-block .right-menu ul li{
    display: inline;
}

.top-block .main-menu ul li {
    padding: 0 15px 0 0;
}

.top-block .main-menu ul li a, .top-block .right-menu ul li a {
    text-decoration: none;
    color: #958f8e;
}

.top-block .main-menu ul li a:hover {
    color: #636968;
}

.top-block .right-menu ul li {
    margin: 0 10px 0 0;
}

.top-block .right-menu ul li:nth-child(2){
    padding: 5px 10px;
    border-radius: 5px;
    background: #87bd24;
}

.top-block .right-menu ul li:nth-child(2) a.light{
    background: inherit;
    color: white;
}

.top-block .right-menu ul li:nth-child(2) a.dark{
    background: inherit;
    color: black;
}

.main-block {
    margin: 30px 0 0 0;
}

.main-block section {
    display: flex;
    justify-content: center;
}

.main-block .desc-area {
    margin: 60px 0 0 0;
    flex-basis: 60rem;
}

.main-block .desc-area p {
    margin: 15px 0;
    line-height: 1.6;
    color: #344442;
}

.main-block section .main-area {
    margin: 100px 0 0 0;
    flex-basis: 60rem;
}

.main-block section .main-area p::selection {
    background-color: #758f46;
}

.go-footer-button {
    position: fixed;
    left: 140px;
    top: 60px;

    background: #87bd24;
}

.go-footer-button.light {
    color: white;
}

.go-footer-button.dark {
    color: black;
}

.toggle-theme{
    position: fixed;
    left: 20px;
    top: 60px;

    background: #87bd24;
}

.toggle-theme.light {
    color: white;
}

.toggle-theme.dark {
    color: black;
}

ol.main-list {list-style: none; counter-reset: li; margin: 20px 0 0 25px; cursor: pointer}

ol.main-list li::before {content: counter(li, decimal-leading-zero); color: #87bd24;
    display: inline-block; width: 1em;
    margin-left: -1em; margin-left: -1.5em;
    margin-right: 0.5em; text-align: right; direction: rtl}

ol.main-list li {
    counter-increment: li;
    line-height: 1.6em;
    cursos: move;
}

ol.main-list li.active {
    color:red;
}

.main-block .main-area .info {
    padding: 30px 20px;
}

.main-block .main-area img {
    padding-top: 30px;
}


.bottom-block {
    background: #344442;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
}

.bottom-block a {
    margin: 1rem 1rem 1rem 0;
    color: #a7c7c7;
    text-decoration: none;
}

.bottom-block a:hover {
    color: #fff8d5;
}